{% extends 'main.html' %}

{% load static core app %}

{% block title %}Admin{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#users').on('click', function() {
                $('#albums-menu').css('display', 'none');
                $('#create-users').css('display', 'none');
                $('#edit-users').css('display', 'none');
                $('#center-left').css('display', 'block');
                $('#edit-user').css('display', 'none');
                $('#info-users').css('display', 'block');
                $('#info-albums').css('display', 'none');
                $('#albums').css('color', '#444444');
                $('#users').css('color', '#cfcfcf');
                $('#create').css('color', '#cfcfcf');
                $('#edit').css('color', '#cfcfcf');
            });
            $('#create').on('click', function() {
                $('#create-users').css('display', 'block');
                $('#edit-user').css('display', 'none');
                $('#edit-users').css('display', 'none');
                $('#info-users').css('display', 'none');
                $('#create').css('color', '#cfcfcf');
                $('#edit').css('color', '#444444');
            });
            $('#edit').on('click', function() {
                $('#create-users').css('display', 'none');
                $('#edit-users').css('display', 'block');
                $('#info-users').css('display', 'block');
                $('#edit-user').css('display', 'none');
                $('#create').css('color', '#444444');
                $('#edit').css('color', '#cfcfcf');
                $('#delete').css('color', '#444444');
            });
            $('#albums').on('click', function() {
                $('#center-left').css('display', 'none');
                $('#create-users').css('display', 'none');
                $('#edit-user').css('display', 'none');
                $('#edit-users').css('display', 'none');
                $('#info-users').css('display', 'none');
                $('#info-albums').css('display', 'block');
                $('#albums-menu').css('display', 'block');
                $('#albums').css('color', '#cfcfcf');
                $('#users').css('color', '#444444');
            });
            $('#button-create').on('click', function(e) {
                e.preventDefault();
                var form = $(this).closest('form');
                $.post("{% url 'create_user' %}", form.serialize(),function(data) {
                    if (data.success == true) {
                        alert('User created');
                    }
                    else {
                        alert(data.error);
                    }
                });
            });
            $('#button-save').on('click', function(e) {
                e.preventDefault();
                var link = '/api/user/save/'+ $('#button-save').prop('name') + '/';
                var form = $(this).closest('form');
                $.post(link, form.serialize(), function(data) {
                    if (data.success == true) {
                        $('#user-' + $('#button-save').prop('name') +' span').text(data.username);
                        alert('User saved');
                    }
                    else {
                        alert(data.error);
                    }
                });
            });
        });
        function AjaxUserDetail(pk) {
            $('#info-users').css('display', 'none');
            $('#edit-user').css('display', 'block');
            var link = '/api/user/info/' + pk + '/';
            $.post(link, {}, function(data) {
                if (data.success == true) {
                    $('input[name="username"]').val(data.username);
                    $('input[name="firstname"]').val(data.first_name);
                    $('input[name="lastname"]').val(data.last_name);
                    $('#is-active').prop('checked', data.is_active);
                    $('#is-active').prop('value', 'is_active');
                    $('#is-superuser').prop('checked', data.is_superuser);
                    $('#is-superuser').prop('value', 'is_superuser');
                    $('#read-only').prop('checked', data.read_only);
                    $('#read-only').prop('value', 'read_only');
                    $('#button-save').prop('name', data.pk);
                    $('#albums-list li').remove();
                    var index;
                    for (index=0;index<data.all_albums.length;++index) {
                        var input;
                        if (data.albums.indexOf(data.all_albums[index]) > -1) {
                            input = '<li><label><input type="checkbox" name="albums" checked class="user-checkbox" value="'+data.all_albums[index]+'"><span class="span-menu">'+data.all_albums[index]+'</span></label><br></li>';
                        }
                        else {
                            input = '<li><label><input type="checkbox" name="albums" class="user-checkbox" value="'+data.all_albums[index]+'"><span class="span-menu">'+data.all_albums[index]+'</span></label><br></li>';
                        }
                        $('#albums-list').append(input);
                    }
                }
                else {
                    alert(data.error);
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div id="content_photo">
    {% if user.is_superuser%}
        <div id="left-body" class="cont">
            <div class="left-menu">
                <span id="users">USERS</span>
            </div>
            <div class="left-menu">
                <span id="albums">ALBUMS</span>
            </div>
        </div>
        <div id="center-left-body" class="cont">
            <div id="center-left" style="display: none">
                <div class="center-left-menu">
                    <span id="create">CREATE</span>
                </div>
                <div class="center-left-menu">
                    <span id="edit">EDIT</span>
                </div>
            </div>
        </div>
        <div id="center-body" class="cont">
            {% all_users as users %}
            <div id="edit-users" class="center-menu" style="display: none">
                <ul>
                    {% for usr in users %}
                        <li id="user-{{ usr.pk }}">
                            <span class="span-menu" onclick="AjaxUserDetail({{ usr.pk }})">{{ usr }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="albums-menu" class="center-menu" style="display: none">
                <ul>
                    {% album_names as albums %}
                    {% for album in albums %}
                        <li><a href="{% url 'album_setting' album.pk %}"><span class="span-menu span-album-list">{{ album.name }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="right-body" class="cont">
            <div id="create-users" class="center-menu" style="display: none">
                <form>
                    {% csrf_token %}
                    <div>
                        <input class="input-upload input-create" type="text" name="username" placeholder="username" value="" autocomplete="off" /><br>
                        <input class="input-upload input-create" type="password" name="password" placeholder="password" value="" autocomplete="off" /><br>
                        <input id="button-create" class="input-upload input-create" type="submit" value="Create user" />
                    </div>
                </form>
            </div>
            <div id="info-users" style="display: none">
                <table style="border-collapse: collapse">
                    <tr class="table-info">
                        <th class="td-user-login table-info"><span class="top-table">Login</span></th>
                        <th class="td-user-firstname table-info"><span class="top-table">First name</span></th>
                        <th class="td-user-lastname table-info"><span class="top-table">Last name</span></th>
                        <th class="td-checkbox table-info"><span class="top-table">Active</span></th>
                        <th class="td-checkbox table-info"><span class="top-table">Super User</span></th>
                        <th class="td-checkbox table-info"><span class="top-table">Read only</span></th>
                        <th class="td-user-last_login table-info"><span class="top-table">Last login</span></th>
                    </tr>
                    {% for usr in users %}
                    <tr class="table-info">
                        <td class="td-user-login table-info"><span class="user-login">{{ usr.username }}</span></td>
                        <td class="td-user-firstname table-info"><span class="user-firstname">{{ usr.first_name }}</span></td>
                        <td class="td-user-lastname table-info"><span class="user-lastname">{{ usr.last_name }}</span></td>
                        <td class="td-checkbox table-info">
                            {% if usr.is_active %}
                                <span class="checkbox">X</span>
                            {% else %}
                                <span class="checkbox"></span>
                            {% endif %}
                        </td>
                        <td class="td-checkbox table-info">
                            {% if usr.is_superuser %}
                                <span class="checkbox">X</span>
                            {% else %}
                                <span class="checkbox"></span>
                            {% endif %}
                        </td>
                        <td class="td-checkbox table-info">
                            {% if usr.read_only %}
                                <span class="checkbox">X</span>
                            {% else %}
                                <span class="checkbox"></span>
                            {% endif %}
                        </td>
                        <td class="td-user-last_login table-info"><span class="user-last_login">{{ usr.last_login }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="edit-user" style="display: none">
                <form>
                    {% csrf_token %}
                    <div id="right-body-left">
                    <table>
                    <tr>
                        <td>
                            <input type="text" name="username" class="input-upload input-admin" value="" placeholder="User name">
                        </td>
                        <td>
                            <label><input id="is-active" type="checkbox" name="system_setting" value=""><span class="user-checkbox">is active user</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="firstname" class="input-upload input-admin" value="" placeholder="First name">
                        </td>
                        <td>
                            <label><input id="read-only" type="checkbox" name="system_setting" value=""><span class="user-checkbox">read only user</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="lastname" class="input-upload input-admin" value="" placeholder="Last name">
                        </td>
                        <td>
                            <label><input id="is-superuser" type="checkbox" name="system_setting" value=""><span class="user-checkbox">is superuser</span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="" id="button-save" class="input-upload" value="Save" style="width: 188px">
                        </td>
                    </tr>
                    </table>
                    </div>
                    <div id="right-body-right">
                        <span class="user-checkbox">Access to albums:</span>
                    <ul id="albums-list">
                    </ul>
                    </div>
                </form>
            </div>
            <div id="info-albums" style="display: none">
                <table style="border-collapse: collapse">
                    <tr class="table-info">
                        <th class="td-album-name table-info"><span>Album name</span></th>
                        <th class="td-album-totalphoto table-info"><span>Total photo</span></th>
                        <th class="td-album-totalusers table-info"><span>Total users</span></th>
                        <th class="td-album-author table-info"><span>Author</span></th>
                        <th class="td-album-createdate table-info"><span>Create date</span></th>
                    </tr>
                    {% for albm in albums %}
                    <tr class="table-info">
                        <td class="td-album-name table-info"><span>{{ albm.name }}</span></td>
                        <td class="td-album-totalphoto table-info"><span>{{ albm.galleryphoto_set.count }}</span></td>
                        <td class="td-album-totalusers table-info"><span>{{ albm.users.count }}</span></td>
                        <td class="td-album-author table-info"><span>{{ albm.user }}</span></td>
                        <td class="td-album-createdate table-info"><span>{{ albm.created_date }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <h1 class="nothing">Sorry, no data in this section</h1>
    {% endif %}
    </div>
{% endblock %}