{% extends 'main.html' %}

{% load static core app %}

{% block title %}Album setting{% endblock %}

{% block head %}
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/fineuploader.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block script %}
{% include 'image_upload.html' %}
    <script>
        $(document).ready(function() {
            $('.album_name').text("{{ object.name }}");
            $('#button-save').on('click', function(e){
                e.preventDefault();
                var form = $(this).closest('form');
                $.post("{% url 'save_setting' object.pk %}", form.serialize(),function(data) {
                    if (data.success == true) {
                        $('.album_name').text(data.name);
                        alert(data.name + ' saved album!')
                    }
                    else {
                        alert(data.error);
                    }
                });
            });
            $('#button-delete').on('click', function(e){
                if (confirm('Delete select photo?')) {
                    e.preventDefault();
                    var form = $(this).closest('form');
                    $.post("{% url 'delete_photo' %}", form.serialize(),function(data) {
                        if (data.success == true) {
                           window.location.reload();
                        }
                    });
                }
            });
            AlbumUploadPhoto({{ object.pk }});
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_superuser or user == object.user %}
        <table id="table-1">
            <tr>
                <td id="td-1">
                    {% include 'album_cover.html' %}
                    <div id="info">
                        <p><span><strong>Author: </strong>{{ object.user }}</span></p>
                        <p><span><strong>Created date: </strong>{{ object.created_date }}</span></p>
                        <p><span><strong>Total photo: </strong>{{ object_list.count }}</span></p>
                    </div>
                </td>
                <td id="td-21">
                    <div id="album-info">
                        <form>
                            <div id="info-left">
                                {% csrf_token %}
                                <p>Title album: <input id="input-title-album" class="input-upload" type="text" name="album_name" value="{{ object.name }}"></p>
                                <p>Description:</p>
                                <textarea class="input-upload" name="comment" cols="40" rows="3">{{ object.description }}</textarea>
                                <input type="submit" name="save-setting" id="button-save" class="input-upload" value="Save">
                            </div>
                            <div id="info-right">
                                {% if user.is_superuser %}
                                    <p>Users:</p>
                                    <ul>
                                    {% all_users as users %}
                                    {% for item in users %}
                                        <li>
                                        {% if item in object.users.all %}
                                            <label><input type="checkbox" name="users" checked value="{{ item.pk }}"><span>{{ item }}</span></label><br>
                                        {%  else %}
                                            <label><input type="checkbox" name="users" value="{{ item.pk }}"><span>{{ item }}</span></label><br>
                                        {%  endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            <tr>
            <td colspan="2">
                <div id="album_photos">
                    <form>
                        {% csrf_token %}
                        {% for item in object_list %}
                            <label>
                                <input id="photo" name="photo" type="checkbox" value="{{ item.pk }}" style="display: none" >
                                <img src="{{ item.image.url|thumbnail:"width=238,height=178" }}" alt="{{ item.title }}">
                            </label>
                        {% endfor %}
                        <br>
                        {% if user.is_superuser or user == object.user %}
                            <input type="submit" name="delete_photo" id="button-delete" class="input-upload" value="Delete photo">
                        {% endif %}
                    </form>
                </div>
            </td>
            </tr>
        </table>
    {% else %}
        <h1 class="nothing">Sorry, no data in this section</h1>
    {% endif %}
{% endblock %}