{% load static core app %}

<div id="header">
        <div class="head-menu-left">
            <div class="text_span">
                <a href='{% url 'main' %}'>
                    <span class="home">Albums</span>
                </a>
            </div>
        </div>
        <div class="head-menu-center">
            <ul>
                <li>
                    <div id="upload" class="head-icon">
                        {% if not user.read_only %}
                            <a href="{% url 'upload' %}">
                                <img src="{{ STATIC_URL }}images/upload.png" title="Upload photo" width="24" height="24" />
                            </a>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div id="settings" class="head-icon" style="display: none">
                        {% if user.is_superuser or user == object.user %}
                            <a id="setting_link" href="">
                                <img src="{%  static 'images/settings.png' %}" width="24" height="24" title="Album settings" />
                            </a>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="text_span">
                        <a href="" id="album_link">
                            <span class="album_name"></span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="text_span">
                        <span id="count-photo"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="head-menu-right">
            <div id="admin" class="text_span">
                {% if user.is_superuser %}
                    <a href="{% url 'admin_dashboard' %}"><span>admin</span></a>
                {% endif %}
            </div>
            <div id="acount">
                <span class="welcome">Welcome,</span>
	            <span>{{ user.username }}</span>
            </div>
            <div id="logout" class="head-icon">
                <a class="unlock" href="{% url 'logout' %}"></a>
            </div>
        </div>
</div>