{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block login %}
<div id="gallery-modalbox">
    <script>
         $(document).ready(function() {
             $('a.lock').on('click', function (e) {
                 e.stopImmediatePropagation();
                 e.preventDefault();
                 $('body').addClass('modal-open');
                 $('a.account_login').click();
                 $('#gallery-modalbox').show();
                 $('.login').css('display', 'none');
                 $(document).keyup(function (e) {
                     if (e.keyCode == 27) {
                         $('body').removeClass('modal-open');
                         $('#gallery-modalbox').hide();
                         $('.login').css('display', 'block');
                         $(document).unbind('keyup');
                     }
                 });
             });
             $('.login-btn').on('click', function (e) {
                 e.stopImmediatePropagation();
                 e.preventDefault();
                 if ($(this).hasClass('recover')) {
                     var recover = true;
                 }
                 var form = $(this).closest('form');
                 $.post(form.attr('action'), form.serialize(), function (data) {
                     if (data.success) {
                         if (recover) {
                             var status = form.find('.gallery-modal-status');
                             status.css('display', 'block').html(data.status_msg);
                             setTimeout(function () {
                                 status.css('display', 'none').html('');
                             }, 4000);
                         }
                         else {
                             window.location.replace(data.location);
                         }
                     }
                     else {
                         AjaxFormError(data.data, form);
                     }
                 });
             });
             $('.gallery-modal').on('click', 'strong', function (e) {
                 e.preventDefault();
                 $('body').removeClass('modal-open');
                 $('#gallery-modalbox').hide();
                 $('.login').css('display', 'block');
             });
             $('a.account_login').on('click', function (e) {
                 e.preventDefault();
                 $('#loginform').show();

             });
         })
    </script>
    <div class="gallery-modal">
        <form id="loginform" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="gallery-modal-header">
                <span>Log in</span>
                <strong>X</strong>
            </div>
            <div class="gallery-modal-inner">
                <div class="gallery-modal-status"></div>
                <input type="text" name="username" placeholder="username" value="" autocomplete="off" />
                <input type="password" name="password" placeholder="password" value="" autocomplete="off" />
            </div>
            <div class="gallery-modal-bottom">
                <input value="Log in&nbsp;»" class="login-btn button button-flat" type="submit" />
            </div>
        </form>
    </div>
</div>
<div class="login">
    <a href="#" class="lock"></a>
</div>
{% endblock %}
