{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <script>
        $("a[href='#top']").click(function() {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>
    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
    
</head>
<body>
    {% include 'header.html' %}
    <div id="container">
        {% block content %}{% endblock %}
        <p id="upscroll">
            <a href="#top"><span></span></a>
        </p>
    </div>
    <div id="footer">
    </div>
</body>
</html>
