{% extends 'main.html' %}

{% load static core %}

{% block title %}Фотографии{% endblock %}

{% block content %}
    <div>
      <p>PHOTO</p>
      <a href='{{ object.image.url }}'>Original PHOTO</a>

      <img src="{{ object.image.url|thumbnail:"width=800,height=600,aspect=1" }}" alt="{{ object.title }}" />
    </div>
{% endblock %}